In [1]:
tup = 4,5,6 # without parenthesis its considered a tuple
tup

(4, 5, 6)

In [2]:
tup = (4,5,6) #paranthesis for tuple
tup

(4, 5, 6)

#### tuples are immutable arrays

In [3]:
tup = tuple([4, 0, 2]) ##this is how u convert a python list to a tuple

In [4]:
tup

(4, 0, 2)

In [5]:
#converting a string to a character tuple
tup = tuple("sitaram")
tup

('s', 'i', 't', 'a', 'r', 'a', 'm')

In [7]:
tup[4] #this is how u access an element

'r'

In [8]:
type(tup[4])

str

### nested tuples

In [ ]:
nested_tup = (4,5,6) , (7,8)

print(nested)