# Dictionary

In [1]:
empty_dict = {}
d1 = {"a" : "some string" , "b":[1,2,3,4]}
d1

{'a': 'some string', 'b': [1, 2, 3, 4]}

In [2]:
d1[7] = "an integer"

### adding an element in the dictionary

In [3]:
d1

{'a': 'some string', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [4]:
d1["b"]

[1, 2, 3, 4]

### checking for element in dictionary

In [5]:
"b" in d1

True

In [6]:
d1[5] = "some value"
d1

{'a': 'some string', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [7]:
d1["dummy"] = "another value"
d1

{'a': 'some string',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [8]:
del d1[5] ## deletes the key and value

In [9]:
d1

{'a': 'some string',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [10]:
ret = d1.pop("dummy") ## removes the element from the dictoinary and stores it in the variable

In [11]:
ret

'another value'

In [12]:
list(d1.values()) # converts the values to a list

['some string', [1, 2, 3, 4], 'an integer']

In [13]:
list(d1.keys()) # converts the keys to a lisst

['a', 'b', 7]

In [14]:
list(d1.items()) ## converts the entire dictionary to list

[('a', 'some string'), ('b', [1, 2, 3, 4]), (7, 'an integer')]

In [15]:
d1.update({"b" : "foo"  , "c":12}) #merges this to the dictionary

In [16]:
d1

{'a': 'some string', 'b': 'foo', 7: 'an integer', 'c': 12}

In [17]:
d1.update({"b": "foo", "c": 12})
d1

{'a': 'some string', 'b': 'foo', 7: 'an integer', 'c': 12}

In [18]:
tuples = zip(range(5), reversed(range(5)))
print(tuples)
mapping = dict(tuples)
print(mapping)
## creates a dictionary from a tuple

<zip object at 0x0000024254635D00>
{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [21]:
words = ["apple" , "bat" ,"bar" , "atom" ,"book"]
by_letter = {}
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)
        
   ### logic for converting it into dictionary by first letter

In [22]:
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [23]:
 by_letter = {}
 for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)
 by_letter
 {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}
 from collections import defaultdict
 by_letter = defaultdict(list)
 for word in words:
    by_letter[word[0]].append(word)

In [24]:
by_letter

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

## Valid dict key types

In [25]:
hash("string")

7440626441256278713

In [27]:
hash((1,2,(2,3)))

-9209053662355515447

In [29]:
# hash(1,2,[3,4]) FAILS BECAUSE LISTS ARE NOT MUTABLE

In [31]:
D= {}
D[tuple([1,2,3])] = 5
D

{(1, 2, 3): 5}

In [32]:
### above we are using a tuple as a key

## SETS (STORES UNIQUE ELEMENTS)

In [33]:
 set([2, 2, 2, 1, 3, 3])
 {2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [34]:
 a = {1, 2, 3, 4, 5}
 b = {3, 4, 5, 6, 7, 8}

NOW WE CAN TAKE UNION , INTERSECTION AND COPY

In [35]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [36]:
a.intersection(b)

{3, 4, 5}

In [40]:
 c = a.copy()
 c |= b
 c
## this takes the union

{1, 2, 3, 4, 5, 6, 7, 8}

In [42]:
d = a.copy()
d &= b
d
# this takes the intersection

{3, 4, 5}

In [43]:
my_data = [1, 2, 3, 4]
my_set = {tuple(my_data)}
my_set

{(1, 2, 3, 4)}

In [44]:
a_set = {1, 2, 3, 4, 5}
{1, 2, 3}.issubset(a_set)
a_set.issuperset({1, 2, 3})
## checks for subset

True

In [45]:
{1, 2, 3} == {3, 2, 1}

True

In [46]:
sorted("horse race") #sorts in alphabet order

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [48]:
seq1 = ["foo", "bar", "baz"]
seq2 = ["one", "two", "three"]
zipped = zip(seq1, seq2) ##zips it into a tuple
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [49]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [51]:
for index, (a, b) in enumerate(zip(seq1, seq2)):
    print(f"{index}: {a}, {b}")

0: foo, one
1: bar, two
2: baz, three

In [52]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [53]:
strings = ["a", "as", "bat", "car", "dove", "python"]
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [54]:
unique_lengths = {len(x) for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

In [55]:
set(map(len, strings))

{1, 2, 3, 4, 6}

In [56]:
 loc_mapping = {value: index for index, value in enumerate(strings)}
 loc_mapping ## creates a dictionary

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [60]:
all_data = [["John", "Emily", "Michael", "Mary", "Steven"],
            ["Maria", "Juan", "Javier", "Natalia", "Pilar"]]
names_of_interest = []
for names in all_data:
    enough_as = [name for name in names if name.count("a") >= 2]
    names_of_interest.extend(enough_as)
names_of_interest

['Maria', 'Natalia']

In [61]:
result = [name for names in all_data for name in names
          if name.count("a") >= 2]
result

['Maria', 'Natalia']

In [70]:
#flattens an array
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [69]:

#makes the faltterned list into a 2d list
flattened = []
for tup in some_tuples:
    for x in tup:
        flattened.append(x)
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# Functions

In [64]:
 def my_function(x, y):
    return x + y
 my_function(1, 2)
 result = my_function(1, 2)
 result

3

In [71]:
def function_without_return(x):
    print(x)
result = function_without_return("hello!")
print(result)

hello!
None

In [72]:
def my_function2(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [74]:
print(my_function2(5, 6, z=0.7))
print(my_function2(3.14, 7, 3.5))
print(my_function2(10, 20))

0.06363636363636363
35.49
45.0

In [79]:
a = []
def func():
    for i in range(5):
        a.append(i)
func()
a

[0, 1, 2, 3, 4]

In [81]:
a = None
def bind_a_variable():
    global a
    a = []
bind_a_variable()
print(a)
## changes global variable a from None to empty list

[]

In [85]:
states = ["   Alabama ", "Georgia!", "Georgia", "georgia", "FlOrIda",
          "south   carolina##", "West virginia?"]
import re
def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub("[!#?]", "", value)
        value = value.title()
        result.append(value)
    return result
clean_strings(states)

#PROGRAM FOR CLEANING NON LETTER CHARACTERS and capitilizing the first letter of each US state

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [88]:
def remove_punctuation(value):
    return re.sub("[!#?]", "", value)
clean_ops = [str.strip, remove_punctuation, str.title]
def clean_strings(strings, ops):
    result = []
    for value in strings:
        for func in ops:
            value = func(value)
        result.append(value)
    return result
clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [89]:
for x in map(remove_punctuation, states):
    print(x) ### map functions maps the list to the function

   Alabama
Georgia
Georgia
georgia
FlOrIda
south   carolina
West virginia

#  (Lambda) Functions

In [90]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]
ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2)

### lambda functions are inline functions that can do stuff in one line

[8, 0, 2, 10, 12]

In [91]:
strings = ["foo", "card", "bar", "aaaa", "abab"]
strings.sort(key=lambda x: len(set(x)))
strings

# inline functins that sort order by length

['aaaa', 'foo', 'abab', 'bar', 'card']

In [92]:
some_dict = {"a": 1, "b": 2, "c": 3}
for key in some_dict:
    print(key)

a
b
c

In [93]:
dict_iterator = iter(some_dict)
dict_iterator ##iterator is a class that creates an iteratable object from a dictionary keys

In [94]:
list(dict_iterator)

['a', 'b', 'c']

## generators

In [95]:
def squares(n=10):
    print(f"Generating squares from 1 to {n ** 2}")
    for i in range(1, n + 1):
        yield i ** 2
gen = squares()
gen

In [96]:
for x in gen:
    print(x , end =" ")

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

In [97]:
gen = (x ** 2 for x in range(100))
gen

In [98]:
sum(x ** 2 for x in range(100))
dict((i, i ** 2) for i in range(5))
## creates a dictionary

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [99]:
import itertools
def first_letter(x):
    return x[0]
names = ["Alan", "Adam", "Wes", "Will", "Albert", "Steven"]
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) # names is a generator

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

In [100]:
float("1.2345")

1.2345

# ERROR HANDLING

In [102]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x
attempt_float("1.2345")
attempt_float("something")

'something'

In [103]:
float((1, 2))  ##THROWS AND ERROR

TypeError: float() argument must be a string or a number, not 'tuple'

In [104]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x
attempt_float((1, 2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [105]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

In [106]:
attempt_float((3,3))

(3, 3)

## creating a text file

In [110]:
path = "example.txt"

In [111]:
f = open(path , encoding = "utf-8")
lines = [x.rstrip() for x in open(path, encoding="utf-8")]
lines

['hello my name is sitaram , i study in manipal institute of technology',
 'hello hello hello']

In [112]:
f.close()
with open(path, encoding="utf-8") as f:
    lines = [x.rstrip() for x in f]
f1 = open(path)
f1.read(10)
f2 = open(path, mode="rb")  # Binary mode
f2.read(10)

b'hello my n'

In [113]:
 f1.tell()
 f2.tell()

10

In [114]:
 import sys
 sys.getdefaultencoding()

'utf-8'

In [115]:
f1.seek(3)
f1.read(1)
f1.tell()

4

In [116]:
f1.close()
f2.close()

In [117]:
with open("tmp.txt", mode="w") as handle:
    handle.writelines(x for x in open(path) if len(x) > 1)
with open("tmp.txt") as f:
    lines = f.readlines()
lines

['hello my name is sitaram , i study in manipal institute of technology\n',
 'hello hello hello']

In [118]:
import os
os.remove("tmp.txt")
with open(path) as f:
    chars = f.read(10)
chars
len(chars)

10

In [119]:
with open(path, mode="rb") as f:
    data = f.read(10)
data

b'hello my n'

In [123]:
data.decode("utf-8")
data[:4].decode("utf-8")

'hell'

In [121]:
sink_path = "sink.txt"
with open(path) as source:
    with open(sink_path, "x", encoding="iso-8859-1") as sink:
        sink.write(source.read())
with open(sink_path, encoding="iso-8859-1") as f:
    print(f.read(10))

hello my n

In [122]:
os.remove(sink_path)
f = open(path, encoding='utf-8')
f.read(5)
f.seek(4)
f.read(1)
f.close()