# 1. Create a Series from a list of integers representing daily 
# temperatures (in Celsius) over a week. Assign index labels as day 
# of the week. 
a. Find and print the average (mean) temperature for the week. 

b. Identify and print the maximum and minimum temperatures 
and their respective days. 

c. Display the temperatures greater than a specific value.

d. Convert all temperatures to Fahrenheit. 

e. Print the days had temperatures above the average. 





## 2. Create a data frame with details of 10 students and columns as 
## Roll Number, Name, Gender, Marks1, Marks2, Marks3. 
a. Create a new column with total marks 

b. Find the lowest marks in Marks1 

c. Find the Highest marks in Marks2 

d. Find the average marks in Marks3 

e. Find student name with highest average 

f. Find how many students failed in Marks2 (<40)

## Problem 1

In [1]:
#sitaram dubagunta , PC 50 , 240911624

import pandas as pd
import numpy as np

temp = [23,25,24,26,27,28,30]
temp = pd.Series(temp , index = ["sunday" , "monday" , "tuesday" ,"wednesday" ,"thursday" ,"friday","saturday"])
temp

sunday       23
monday       25
tuesday      24
wednesday    26
thursday     27
friday       28
saturday     30
dtype: int64

In [2]:
average_temp = temp.mean()
print("average temperature of the week" ,  average_temp)

average temperature of the week 26.142857142857142

In [3]:
max_temp = temp.max()
print("maximum temperature of the week" , max_temp)

maximum temperature of the week 30

In [4]:
min_temp = temp.min()
print("minimum temperature of the week" , min_temp)

minimum temperature of the week 23

In [5]:
#displaying the temperatures from the series that are greatre than 25

temp.loc[temp > 25]

wednesday    26
thursday     27
friday       28
saturday     30
dtype: int64

In [6]:
temp = temp*(1.8) +32

In [7]:
temp

sunday       73.4
monday       77.0
tuesday      75.2
wednesday    78.8
thursday     80.6
friday       82.4
saturday     86.0
dtype: float64

In [8]:
temp.loc[temp > temp.mean()]

thursday    80.6
friday      82.4
saturday    86.0
dtype: float64

## Problem 2

In [14]:
students  = pd.DataFrame({"rollnumber" : [1,2,3,4,5,6,7,8,9,10] , "name":['a','b','c','d','e','f','g','h','i','j'] , "gender":['m','m','m','m','m','f','f','f','m','f'] , 'marks1' : [1,2,3,4,5,6,7,8,9,10]})

In [15]:
students

   rollnumber name gender  marks1
0           1    a      m       1
1           2    b      m       2
2           3    c      m       3
3           4    d      m       4
4           5    e      m       5
5           6    f      f       6
6           7    g      f       7
7           8    h      f       8
8           9    i      m       9
9          10    j      f      10