1. Write a Python function to input two numbers and perform the 
Calculator operations of (+, -, *, /).  
2. Write a Python function that takes an integer and returns True if 
itâ€™s a prime number and False otherwise. 
3. Create a Python function that creates a sequence between 1 and 
100 and prints all the odd numbers. Compute and display the sum 
of all the even numbers. 
4. Write a Python function to add two elements and display the 
result. The elements can be of type integer, float or string. 
5. Write a Python function that takes a string input from the user 
and counts the number of vowels and consonants in the string.

# program 1 (calculator)

In [1]:
def Calculator( a  ,   b,  operator):
    
    
    if operator == 1:
        return a+b
    elif operator == 2:
        return a-b
    elif operator == 3:
        return a*b
    elif operator ==4:
        if(b==0):
            return "division by zero error"
        return a/b
    else:
        return "enter a valid operator"

In [2]:
Calculator(1,3 , 3)

3

In [3]:
Calculator( 1 ,2 ,0)

'enter a valid operator'

In [4]:



Calculator(1, 0 , 4)

'division by zero error'

# program 2 (prime number program)

In [27]:
def isPrime(number):
    isprime = 1 #sets default to prime
    for object in range(2 , int(number)):
        
        if number % object == 0:
            isprime = 0
            break
        
    if isprime == 1 and number>1:
        return "it is a prime number"
    else:
        return "it is not a prime number"

In [28]:
isPrime(5)

'it is a prime number'

In [29]:
isPrime(3)

'it is a prime number'

In [30]:
isPrime(24)

'it is not a prime number'

In [31]:
isPrime(0)

'it is not a prime number'

In [32]:
isPrime(1)

'it is not a prime number'

In [33]:
isPrime(4)

'it is not a prime number'

# program 3

In [22]:
def function_3():
    sum =0 
    for obj in range(1, 100):
        if obj % 2 !=0:
            print(obj)
        else:
            sum += obj
    return "the sum of evens: " + str(sum)

In [23]:
print(function_3())

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99
the sum of evens: 2450

# program  4

In [20]:
def function_4(a  , b):
    
    
    if(type(a) == float or type(a) == int):
        if(type(b) == float or type(b) == int):
            return a+b
    
    
    
    return str(a)+str(b)

In [21]:
function_4(2334 , "hello")

'2334hello'

In [43]:
function_4(12.21 , "ergeg")

'12.21ergeg'

In [22]:
function_4(213,123)

336

In [23]:
function_4(3.32, 32.523)

35.843

In [13]:
function_4(12.2 , 23)

35.2

In [24]:
function_4(121 , 2.34)

123.34

In [14]:
function_4("abbababa" ,"sitaram" )

'abbababasitaram'

In [15]:
function_4(12 , "23234234234")

'1223234234234'

# program 5

In [17]:
def function_5(inputvar):
    vowel = 0
    consonant = 0
    for char in inputvar:
        
        if str.lower(char) in ['a','e','i','o' , 'u']:
            vowel+=1
        else:
            consonant += 1
    return f"number of consonants {consonant} and number of vowels are {vowel} "

In [18]:
function_5("sitaram")

'number of consonants 4 and number of vowels are 3 '

In [19]:
function_5("MaNipal")

'number of consonants 4 and number of vowels are 3 '

# PALINDROME

In [30]:
def is_Palindrome(string1):
  # 2 pointer approach  
   
    right = len(string1)-1
    
    for i in range(0 , len(string1)):
        if string1[i] == string1[right]:
            right -= 1
        else:
            return "its not a palindrome"
        
    return "it is a palindrome"

In [31]:
is_Palindrome("naman")

'it is a palindrome'

In [32]:
is_Palindrome("abababef")

'its not a palindrome'

In [33]:
is_Palindrome("sitaram")

'its not a palindrome'

In [34]:
is_Palindrome("aaaabaaaa")

'it is a palindrome'

# Patterns

In [113]:
for obj in range(0 ,5):
    
    
    for i in range(5 , obj , -1):
        print("*" , end = "")
    print("\n")

*****

****

***

**

*

In [119]:
for obj in range(0 ,5):
    
    for m in range(0 , 5):
        print(" ")
    for i in range(5-obj , 5 , 1):
        print("*" , end = "")

    print("\n")

*






**






***






****

# reversal of string

In [110]:
#using a stack

def reverse_string(variable):
    variablearray = []

    for char in variable:
        
        variablearray.append(char)
    reversearray = ''

    while len(variablearray) != 0:
        reversearray += variablearray.pop()
        
        
    return reversearray
reverse_string("test")

'tset'

In [111]:
reverse_string("sitaram")

'maratis'

In [106]:
a='sitaram'
print(a[::-1])

maratis