In [1]:
# Data Visualization
# Btech Computer Science Stream , January  2025
# Week 1 python language ,Demonstration
# Sitaram dubagunta , Btech in Information technology , PC , roll number 50
# Date - 03-01-2025  , 240968376

In [1]:
print('Hello World')

Hello World

In [3]:
# Python Language Basics - Dynamic references  , strong types: Varianbles no inherent type , 
# Scalar Data Types - Integer
#use variables with snake casing or camel casing
var_A = 2
var_B = 3
var_C = var_A + var_B
print("var_C=" ,var_C)

var_C= 5

In [4]:
#Mathematical Operations
print(var_A/var_B)#division operation
print(var_A//var_B) #floor division operation

0.6666666666666666
0

In [5]:
#Scalar Data Types -Float
var_fA = 0.345
var_fB = 6.8e-4
print(var_fA)
print(var_fB)

0.345
0.00068

## Strings

In [11]:
#Scalar Data Types - String
var_strA = 'This is my first Python Class'
var_strB = """ 
String that can 
span
Multiple
lines
"""
print(var_strB)
print("number of spaces in the multi-line string:")
print(var_strB.count("\n"))

String that can
span
Multiple
lines

number of spaces in the multi-line string:
5

In [12]:
#Scalar data types - strings are immutable
#String is a class , can see all supported methods
var_strC = var_strA.replace('first' , 'second')
var_strC

'This is my second Python Class'

In [24]:
#Scalar Data Type - Boolean
var_BoolA = True
var_BoolB = False
var_BoolB?
#question mark before/after the variable name would display information about the data type

In [28]:
# Python language basics - Python strongly typed language
var_Int = 1
var_BoolC = bool(var_Int)
print(var_BoolC)
print(type(var_BoolC))

True
<class 'bool'>

In [30]:
print(var_BoolC + var_Int) #automatic type casting between bool and integer
print(type(var_Int) , type(var_BoolC))

2
<class 'int'> <class 'bool'>

### functions

In [31]:
#none in python is for null values

def fn_add_maybe_multiply(var_a , var_b, var_c = None):
    result = var_a +var_b
    
    
    
    if var_c is not None:
        result = var_c*result
        
    return result

In [41]:


fn_add_maybe_multiply(3,5,None)

8

In [33]:
fn_add_maybe_multiply(4,5,6)

54

In [42]:
fn_add_maybe_multiply?

In [43]:
fn_add_maybe_multiply(2,4) #third parameter is set to None by default

6

### conditional statements

In [46]:
var_x = 45

if var_x < 0:
    print("it's negetive")
elif var_x>0:
    print("its positive")
else:
    print("its 0")

its positive

In [49]:
var_x = 3

if var_x < 0:
    print("its negetive")
elif 0<var_x<5:
    print("its positive but smaller than 5")
elif var_x == 0:
    print("its zero")
else:
    print("its greater than or equal to 5")

its positive but smaller than 5

### looping statements

In [66]:
list_A = [1,2, None , False , False,None,10]
list_size = 0
list_A_nonull =[]
for object in list_A:
    if object is None:
        continue
    list_A_nonull.append(object)
    list_size += object
print(list_size)

13

In [67]:
list_A_nonull

[1, 2, False, False, 10]

In [61]:
var_seqB = [1,2,0,4,6,5,2,1]
var_tot_until_5 = 0

for value in var_seqB:
    if value == 5:
        break
    var_tot_until_5 += value
var_tot_until_5

13

In [62]:
# while loop

var_x = 256
var_total = 0 
while var_x > 0:
    if var_total > 500:
        break
    var_total  += var_x
    var_x = var_x //2 #floor by 2
var_total

504

In [70]:
var_x = 0 
if var_x < 0:
    print("its negetive")
elif var_x == 0:
    pass # no - operation

In [71]:
list(range(0,10,1)) # creates a list with a given range

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [73]:
list(range(0,20,2)) # creates a list with step 2

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [76]:
list(range(10,1,-1)) # creates a list with descending order of -1

[10, 9, 8, 7, 6, 5, 4, 3, 2]

In [77]:
var_seq = [1,2,3,4,5,6,7]

for obj in range(0 , len(var_seq)):
    
    print(var_seq[obj])

1
2
3
4
5
6
7

In [79]:
for i,obj in enumerate(var_seq):
    print( "index:",i ,"value:", obj)

index: 0 value: 1
index: 1 value: 2
index: 2 value: 3
index: 3 value: 4
index: 4 value: 5
index: 5 value: 6
index: 6 value: 7